* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

/* ******* MENÚ SUPERIOR ******** */

.mi-nav {
  padding: 0.8rem;
  margin-bottom: 1rem;
}

#titulo-principal{
  padding: 0 10px 0 10px;
}

.mi-hover{
  border-radius: 5px;
}

.mi-hover:hover{
  background-color: #393e49;
}

/* ***** ESTILOS GENERALES  DE TARJETAS ***** */

.tarjetas {
  padding: 3rem 0 4rem 0;
}

.titulos-tarjetas {
  margin-bottom: 3rem;
}

.btn-hover:hover{
  background-color: #393e49;
  border-color: #393e49;
}

/* ****** TARJETA-REPORTES ****** */

.contenedor-img {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imagen-tarjeta {
  max-width: 500px;
  width: 100%;
  margin-bottom: 3rem;
}

.margen-setcion{
  margin-top: 5rem;
}

/* ******* TARJETA-CATEGORÍAS ******* */

.margen-titulos-tarjetas {
  margin-top: 3rem;
}

.nombres-categorias {
  font-size: 1rem;
  color: gray;
  background-color: #e0e0e0;
  padding: 2px 4px;
  border-radius: 3px;
}

.link-categoria {
  font-size: 0.9rem;
  text-decoration: none;
}

.link-categoria:hover {
  color: black;
}

.margen-derecho {
  margin-right: 1rem;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.margen-filas {
  margin-bottom: 2rem;
}

/* ***** TARJETA-EDITAR-CATEGORIAS ****** */

/* ***** TARJETA-BALANCE ****** */

.alineacion-monto {
  text-align: end;
}

.margen-inferior {
  margin-bottom: 1rem;
}

/* ***** TARJETA-NUEVA OPERACIÓN****** */

.margen-superior {
  margin-top: 1rem;
}
